body {
  background-image: url(https://images.pexels.com/photos/962312/pexels-photo-962312.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
}

footer {
  font-size: 15px;
  text-align: right;
}

header,
footer {
  font-family: "Architects Daughter", cursive;
  color: black;
}

form {
  text-align: right;
  padding: 10px;
  margin: 5px auto 20px auto;
  font-size: 20px;
}

ul {
  list-style: none;
}

input {
  max-width: 50%;
}

.nextDays {
  text-align: center;
  font-family: "Nanum Gothic Coding", monospace;
  margin: 5px auto 25px;
}

.searchCurrentLocation {
  display: block;
  padding: 5px;
  margin-top: 13px;
}

.searchCity,
.searchCurrentLocation {
  background-color: white;
  border-radius: 3px;
  color: black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.searchCity:hover,
.searchCurrentLocation:hover {
  background-color: rgb(224, 192, 197);
  border: 2px solid black;
  color: black;
  transition: all 200ms ease-in-out;
  box-shadow: none;
}

.boxShadow {
  display: block;
  max-width: 800px;
  background: rgba(999, 999, 999, 0.9);
  border-radius: 15px;
  margin: 6% auto;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.3);
}

.boxes {
  background-color: rgba(224, 192, 197, 0.35);
  margin: 25px 15px 0 15px;
  padding: 0;
  border-radius: 6px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.inputCity {
  background-color: rgba(224, 192, 197, 0.5);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
