h1 {
  font-size: 30px;
  text-align: left;
}

h1,
.currentTemp,
.currentDayData {
  font-family: "Nanum Gothic Coding", monospace;
  color: black;
}

.currentTemp {
  font-size: 25px;
}

.celciusFah {
  font-size: 15px;
}

.currentDay {
  margin: 20px auto 10px;
}

.currentDayData {
  font-size: 16px;
  text-align: left;
  margin: 0;
  padding: 0 0 20px 0;
}

.topLeftInfo {
  margin: 40px 0 0 0;
  padding: 0 0 20px 0;
}
